<!DOCTYPE html>
<html>
<head>
	<title>About</title>
    <link rel="icon" href="weather.png">
	<link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="index-content">
		{{>header}}
	<img class="photo" src="levi.png">
    <p>
        Created by {{name}}
    </p>
	</div>
	
    {{>footer}}
</body>
</html>