<!DOCTYPE html>
<html>
<head>
	<title>Weather</title>
	<link rel="icon" href="weather.png">
	<link rel="stylesheet" href="styles.css">

</head>
<body>
	<div class="index-content">
		{{>header}}
	<p>Enter the location below</p>
	<form>
		<input placeholder="location">
		<button>Search</button>
	</form>

	<p class='p2'></p>
	<p class='p3'></p>
	</div>
	
	{{>footer}}
</body>
<script src="js.js"></script>
</html>